<div class="middle">
    <div class="feature">
        <h4 class="line">Your Remote Team</h4>
        <h4 class="line1">Control Center</h4>
        <p>Overpass offers everything you need to successfully <br> hire & manage your new remote team.</p>
    </div>
    <div class="card1">
        <div class="content1">
            <img src="../../../../assets/images/01-image.png" alt="">
            <h6>Scale Your</h6>
            <h6>Team Quickly</h6>
        </div>
        <div class="rightarrow">
            <img src="../../../../assets/images/right-arrow.png" alt="">
        </div>
    </div>
    <div class="card1 card2">
        <div class="content1">
            <img src="../../../../assets/images/02-image.png" alt="">
            <h6>Simplify Your</h6>
            <h6>Reps' Lives</h6>
        </div>
        <div class="rightarrow">
            <img src="../../../../assets/images/right-arrow.png" alt="">
        </div>
    </div>

    <div class="card1 card2">
        <div class="content1">
            <img src="../../../../assets/images/05-image.png" alt="">
            <h6>Pay Reps</h6>
            <h6>Without Worries</h6>
            <p>Over pass offers everything you <br> need to successfully hire &manage <br> your new remote team</p>
        </div>
        <div class="rightarrow2 rightarrow">
            <img src="../../../../assets/images/right-arrow.png" alt="">
        </div>
    </div>

    <div class="card1 card2">
        <div class="content1">
            <img src="../../../../assets/images/04-image.png" alt="">
            <h6>Manage Your</h6>
            <h6>Leads Seamlessly</h6>
        </div>
        <div class="rightarrow">
            <img src="../../../../assets/images/right-arrow.png" alt="">
        </div>
    </div>

    <div class="card1 card3">
        <div class="content1">
            <img src="../../../../assets/images/03-image.png" alt="">
            <h6>Monitor Reps</h6>
            <h6>With Ease</h6>
        </div>
        <div class="rightarrow">
            <img src="../../../../assets/images/right-arrow.png" alt="">
        </div>
    </div>
</div>