<div class="back">

    <div class="heading">
        <div class="container">
            <div class="logo">
                <img src="../../../assets/images/logo.png" alt="Logo">
            </div>
            <div class="yellow">
                <img src="../../../assets/images/yellow-circle.png" alt="">
            </div>
            <div class="banner">
                <div class="info info1">
                    <img src="../../../assets/images/call-mode.png" alt="">
                    <p>Call Made</p>
                    <p class="number">12,253</p>
                </div>
                <div class="info">
                    <img src="../../../assets/images/email.png" alt="">
                    <p>Email Sent</p>
                    <p class="number1">145</p>
                </div>
                <div class="info">
                    <img src="../../../assets/images/reliability-1.png" alt="">
                    <p>Reliability</p>
                    <img class="star" src="../../../assets/images/star@2x.png" alt="">
                    <img class="star" src="../../../assets/images/star@2x.png" alt="">
                    <img class="star" src="../../../assets/images/star@2x.png" alt="">
                    <img class="star" src="../../../assets/images/star@2x.png" alt="">
                    <img class="star" src="../../../assets/images/star@2x.png" alt="">
                </div>

                <div class="rectangle">
                    <div class="group">
                        <div class="bullet1 oval">
                            <div class="oval1">
                            </div>
                        </div>
                        <div class="bullet2">
                            <div class="oval2"></div>
                        </div>
                        <div class="bullet2">
                            <div class="oval2"></div>
                        </div>

                    </div>
                    <div class="sales">
                        <p>Marc b. <br> Top Rated Sales Expert</p>
                    </div>
                    <div class="arrow">
                        <div class="uparrow">
                            <img src="../../../assets/images/up-arrow.png" alt="uparrow">
                        </div>
                        <div class="downarrow">
                            <img src="../../../assets/images/down-arrow.png" alt="downarrow">
                        </div>
                    </div>

                    <div class="right_rectangle">
                    </div>
                </div>
            </div>

            <div class="main">
                <h1 class="line">Your</h1>
                <h1 class="line2">Sales team</h1>
                <h1 class="line3">Reimagined</h1>

                <p>Free up your closers by tapping into a pool of qualified appointment setters ready to take over the
                    tedious tasks of qualifying, warming, and appointment setting.</p>
                <input type="email" placeholder="Enter your email...">
                <button mat-raised-button>START HIRING</button>
            </div>

        </div>
    </div>

</div>
<app-features></app-features>
<app-faq></app-faq>
<app-testimonial></app-testimonial>