<div class="secondlast">
    <div class="faq">
        <div class="heading">
            <h2 class="line">Faq</h2>
        </div>
        <div class="leftimage">
            <img src="../../../../assets/images/faq-image.png" alt="">
        </div>
        <div class="questions">
            <mat-accordion>
                <mat-expansion-panel class="mat-elevation-z0">
                    <mat-expansion-panel-header class="head">
                        <mat-panel-title class="title1">
                            What is the difference between hiring agents from the marketplace and <br> bringing my own
                            agents?
                        </mat-panel-title>

                    </mat-expansion-panel-header>
                    <hr class="horizontal">
                    <p> When you hire agents from our marketplace, you don't have to pay the per seat fee — <br>
                        you pay them their hourly rate for the work they complete. If you already have <br> employees or
                        volunteers who will make calls for you on Overpass, the fee is $24/ <br> month per seat.</p>
                </mat-expansion-panel>
                <hr>
                <mat-expansion-panel class="mat-elevation-z0">
                    <mat-expansion-panel-header class="head">
                        <mat-panel-title class="title1">
                            What kinds of agents can I find on the marketplace?
                        </mat-panel-title>

                    </mat-expansion-panel-header>
                    <hr class="horizontal">
                    <p> When you hire agents from our marketplace, you don't have to pay the per seat fee — <br>
                        you pay them their hourly rate for the work they complete. If you already have <br> employees or
                        volunteers who will make calls for you on Overpass, the fee is $24/ <br> month per seat.</p>
                </mat-expansion-panel>
                <hr>
                <mat-expansion-panel class="mat-elevation-z0">
                    <mat-expansion-panel-header class="head">
                        <mat-panel-title class="title1">
                            Do the agents hired on the marketplace work for me or do they work for Overpass?
                        </mat-panel-title>

                    </mat-expansion-panel-header>
                    <hr class="horizontal">
                    <p> When you hire agents from our marketplace, you don't have to pay the per seat fee — <br>
                        you pay them their hourly rate for the work they complete. If you already have <br> employees or
                        volunteers who will make calls for you on Overpass, the fee is $24/ <br> month per seat.</p>
                </mat-expansion-panel>
                <hr>
                <mat-expansion-panel class="mat-elevation-z0">
                    <mat-expansion-panel-header class="head">
                        <mat-panel-title class="title1">
                            Do I need to buy phones for my agents?
                        </mat-panel-title>

                    </mat-expansion-panel-header>
                    <hr class="horizontal">
                    <p> When you hire agents from our marketplace, you don't have to pay the per seat fee — <br>
                        you pay them their hourly rate for the work they complete. If you already have <br> employees or
                        volunteers who will make calls for you on Overpass, the fee is $24/ <br> month per seat.</p>
                </mat-expansion-panel>
                <hr>
                <mat-expansion-panel class="mat-elevation-z0">
                    <mat-expansion-panel-header class="head">
                        <mat-panel-title class="title1">
                            Do the agents hired on the marketplace work for me or do they work for Overpass?
                        </mat-panel-title>

                    </mat-expansion-panel-header>
                    <hr class="horizontal">
                    <p> When you hire agents from our marketplace, you don't have to pay the per seat fee — <br>
                        you pay them their hourly rate for the work they complete. If you already have <br> employees or
                        volunteers who will make calls for you on Overpass, the fee is $24/ <br> month per seat.</p>
                </mat-expansion-panel>
                <hr>
                <mat-expansion-panel class="mat-elevation-z0">
                    <mat-expansion-panel-header class="head">
                        <mat-panel-title class="title1">
                            Do I need to buy phones for my agents?
                        </mat-panel-title>

                    </mat-expansion-panel-header>
                    <hr class="horizontal">
                    <p> When you hire agents from our marketplace, you don't have to pay the per seat fee — <br>
                        you pay them their hourly rate for the work they complete. If you already have <br> employees or
                        volunteers who will make calls for you on Overpass, the fee is $24/ <br> month per seat.</p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>


</div>