<div class="last">
    <div class="container">
        <div class="left">
            <img src="../../../../assets/images/testimonial-bg.png" alt="">
            <div class="arrows">
                <div class="uparrow">
                    <img src="../../../../assets/images/up-arrow.png" alt="uparrow">
                </div>
                <div class="downarrow">
                    <img src="../../../assets/images/down-arrow.png" alt="downarrow">
                </div>
            </div>
        </div>
        <div class="right">
            <h4>Testimonial</h4>
            <p>“We’ve had bad experiences with call centers. Through Overpass, I hired my own remote team that I have
                complete control over. I started with one rep to see how it worked and am continuing to grow my team.”
            </p>
            <p class="name"> <b> Nathalie Grossman,</b> Sales Manager at National Cellular</p>
            <img src="../../../../assets/images/01-testimonial-profile.png" alt="">
            <img src="../../../../assets/images/02-testimonial-profile.png" alt="">
            <img src="../../../../assets/images/03-testimonial-profile.png" alt="">
        </div>
    </div>
</div>